/* Make element full width */
@font-face{
    font-family: Sonder;
    src:url(../fonts/SonderSans-BlackRough.otf);
}
body{
    background-color: #F2EEDA;
}
.greeting{
    font-family: Sonder;
    font-weight: bold;
    font-size: 4em;
    color: #9A9999;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .text-center{
      text-align: center;
  }
  @media only screen and ( min-width: 1025px ){
      .logo{
        max-height: 80vh;
        max-width: 100%;
      }
  }
  @media only screen and ( max-width: 1024px ){
    .logo{
        max-width: 100%;
        max-height: 100%;
    }
  }
